.image1{
    background-image: url(images/headphones_hero_1.jpg)
  
}
.links{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    position:absolute;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    top: 0;
    right: 0;
    gap: 5px;
    padding: 5px;
}
.links a{
    color:white;
    text-decoration: none;
    margin-left: 0px;
    padding: 0px;
    margin-right: 70px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0px;
    position:fixed;
    top: 0;
    right: 0;
    padding: 10px;
}
ul li{
    margin: 0;
    padding: 0;
}
a:hover{
color:#FF6565
}
.p1{
    color: white;
    margin-top: 300px;
    margin-left: 400px;
}
.button{
    justify-content:center;
    align-items: center;
    border:20px;

    color:white;
    border-color: black;
    padding: 10px;
    cursor: pointer;
    display:flex;
}
.button1{
    margin-top:15px;
    display: inline-block;
    background-color: red;
    color:white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}
.button1:hover{
    opacity: 0.9;
}
.long{
    color:white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    padding-bottom: 80px;
}
.harmburger{
    display: none;
}
.white{
    margin-top: 100px
    background-color;white:
    padding-top:50px;

}
.white p{
    text-align: center;
}
.heading{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.container{
    margin: 10px;
    padding: 20px;
}

/* mobile design  */
@media screen and (max-width:480px){
    .links{
         display: hidden;
     }
     .left{
         display: hidden;
     }
     
     li{
         display: none;
     }
     .harmburger{
         display: block;
         display: flex;
         margin-right: 435px;
     }
     .p1{
         color: white;
         margin-top: 300px;
         margin-left: 50px;
     }
     .button{
         justify-content:center;
         align-items: center;
         border:20px;
     
         color:white;
         border-color: black;
         padding: 10px;
         cursor: pointer;
         display:flex;
     }
     .button1{
         margin-top:15px;
         display: inline-block;
         background-color: red;
         color:white;
         text-align: center;
         border-radius: 20px;
         padding: 10px;
     }
     .button1:hover{
         opacity: 0.9;
     }
     .long{
         color:white;
         text-align: center;
         margin-top: 70px;
         margin-bottom: 40px;
         padding-bottom: 80px;
         margin-left: 50px;
         margin-right: 50px;
         padding-left: 20px;
         padding-right: 20px;
     }
     .logo1{
         width: 150px;
         margin-left: 180px;
     }
 }
    