.long{
    color:white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    padding-bottom: 80px;
}
.white{
    margin-top: 100px
    background-color;white:
    padding-top:50px;

}
.white p{
    text-align: center;
}
.heading{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.box{
    display: flex;
    margin-left: 100px;
    margin-top: 60px;
}
.container{
    margin: 10px;
    padding: 20px;
}
.invert{
    background-image:url(images/headphones_hero_2.jpg);
    color: white;
}
.invert p{
    text-align: center;
}
.invert h1{
    text-align: center;
   padding: 100px;
   padding-bottom: 30px;
}
.pntg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 100px;
    margin-top: 60px;
}
.pentagon{
    margin: 5px;
    flex:1 1 200px;
 
}
.pentagon img{
    width:50%;
    height: auto;
    object-fit: cover;
    margin: 5px;
    padding-bottom: 50px;
}
.pentago{
    background-image: url(images/pentagone.png);
}.image1{
    background-image: url(images/headphones_hero_1.jpg)
  
}
.links{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 10px;
    position:absolute;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    top: 0;
    right: 0;
    gap: 5px;
    padding: 5px;
}
.links a{
    color:white;
    text-decoration: none;
    margin-left: 0px;
    padding: 0px;
    margin-right: 70px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0px;
    position:fixed;
    top: 0;
    right: 0;
    padding: 10px;
}
ul li{
    margin: 0;
    padding: 0;
}
a:hover{
color:#FF6565
}
.p1{
    color: white;
    margin-top: 300px;
    margin-left: 400px;
}
.button{
    justify-content:center;
    align-items: center;
    border:20px;

    color:white;
    border-color: black;
    padding: 10px;
    cursor: pointer;
    display:flex;
}
.button1{
    margin-top:15px;
    display: inline-block;
    background-color: red;
    color:white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}
.button1:hover{
    opacity: 0.9;
}
form{
    width: 300px;
    margin: 0 auto;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 2px solid #4CAF50;
    outline: none;
}

textarea {
    resize: none; /* Prevent resizing for the message box */
}
.labels{
    text-align: center;
}
.head{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
