/* Styling the header with a background image */
header {
  background-size: cover; /* Ensures the image covers the header */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  height: 400px; /* Set the height of the header */
  color: white; /* Text color to stand out against background */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling the first section */
.bcg1{
    background-image: url('images/object.png');
  padding: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

